.subvisual {
    margin-bottom: 120px;
    width: 100%;
    background-image: url(../images/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: blanchedalmond;
}

.subvisual h1 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    line-height: 200px;
    font-weight: normal;
}

.company-greeting {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.left {
    grid-area: 1 / 1 / 2 / 2;
}

.right {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 40px;
}

.company-greeting h2 {
    text-align: center;
}

.company-profile {
    margin-bottom: 120px;
}

table.company {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #e8e7e7;
}

table.company th {
    background-color: #e8e7e7;
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    line-height: 1.5em;
    text-align: left;
    border-bottom: 1px solid #fff;
}

table.company td {
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #e8e7e7;
    line-height: 1.5em;
}

.company-map {
    margin-bottom: 0px;
}