.recruit-point h2 {
    text-align: center;
    margin-bottom: 80px;
}

.recruit-table {
    margin-bottom: 40px;
}

table.content {
    width: 100%;
    border-top: 1px solid #e8e7e7;
}

table.content th {
    background-color: #e8e7e7;
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    line-height: 1.5em;
    text-align: left;
}

table.content th:first-of-type {
    border-bottom: 1px solid #fff;
}

table.content td {
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #e8e7e7;
    line-height: 1.5em;
}